/* reset e utility class */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.container{
  width: 100%;
  height: 100%;
  min-width: 1200px;
  margin: 0 auto;
  position: relative;
  background-color: #FFF5E2;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix{
  content: "";
  display: table;
  clear: both;
}
.flexbox{
  display: flex;
}
/* reset e utility class */
header,main,footer{
  width: 50%;
  margin: auto;
}
header{
  background-color: #FDBB40;
  position: relative;
  height: 100px;
}
/* TODO: ristabilire il main */
main{
  background-color: #fff;
  min-height: calc(100vh - 200px);

}
header h1,.input-nome,.lista-uno,.lista-due,footer div{
  padding: 30px 15px 20px 25px;
}
header .fr{
  position: absolute;
  right: -50px;
  top: -10px;
}
header img{
  height: 200px;
  vertical-align: top;
  text-align: right;
  border-radius: 50%;
  padding: 20px;
  background-color: #FDBB40;
}
h2{
  font-size: 1.8em;
  padding-left: 25px;
  font-weight: normal;
}
.input-nome input{
  width: 400px;
  height: 45px;
  border: none;
  font-size: 35px;
  color: #757575;
}
footer{
  background-color: #D33359;
  color: #fff;
  justify-content: space-between;
  height: 100px;
}
.liste label{
  color: #D33359;
}
li{
  list-style: none;
  font-size: 25px;
  margin-top: 15px;
}
.liste{
  width: 100%;
  height: 200px;
  justify-content: space-around;
}
.img-cont{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
}
.img-cont img{
  height: 100%;
  vertical-align: middle;
  height: 60px;
  width: 60px;
}
.checkmark {
  position: absolute;
  top: -5px;
  left: 10px;
  height: 18px;
  width: 18px;
  background-color: #D33359;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.ingredient:checked ~ .checkmark:after {
  display: block;
}
.container-check{
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}
.container-check .checkmark:after {
  left: 0px;
  color: #000;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  content: '\f00c';
  bottom: 0px;
}
.ingredient{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.cupon-input{
  margin-top: 150px;
}
.cupon-input label{
  font-size: 20px;
  padding:0px 25px;
}
.cupon-input input{
  font-size: 20px;
  width: 50%;
  border: none;
  border-radius: 4px;
  height: 30px;
  color: #757575;
  background-color: #FFF5E2;
}
#cupon::placeholder{
  padding-left: 10px;
}
 input:focus,button:focus{
    outline: none;
}
.button-container{
  margin:50px auto;
  height: 55px;
  width: 140px;
}
button{
  height: 100%;
  width: 100%;
  font-weight: bolder;
  font-size: 1.3em;
  border: none;
  border-radius: 15px;
  background-color: #FDBB40;
  cursor: pointer;
}
#payment{
  height: 40px;
  font-size:18px;
  padding: 5px;
  visibility: hidden;
}
footer div{
  font-weight: bolder;
  font-size: 30px;
}
.cart{
  width: 250px;
  height: 150px;
  border:1px solid #000;
  position: fixed;
  left: 25%;
  top: 70%;
  visibility: hidden;
}
.cart ul li{
font-size: 15px;
margin-top: 1px;
}
