/* reset e utility class */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.container{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #FFF5E2;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix{
  content: "";
  display: table;
  clear: both;
}
.flexbox{
  display: flex;
}
/* reset e utility class */
header,main,footer{
  width: 50%;
  margin: auto;
}
header{
  background-color: #FDBB40;
  position: relative;
  height: 100px;
}

main{
  background-color: #fff;
  height: calc(100vh - 200px);
}
header h1,.input-nome,.lista-uno,.lista-due,footer div{
  padding: 30px 15px 20px 25px;
}
header .imgburger{
  position: absolute;
  right: -50px;
  top: -10px;
}
header img{
  height: 200px;
  vertical-align: top;
  text-align: right;
  border-radius: 50%;
  padding: 20px;
  background-color: #FDBB40;
}
h2{
  font-size: 1.8em;
  padding-left: 25px;
  font-weight: normal;
}
.input-nome input{
  width: 400px;
  height: 45px;
  border: none;
  font-size: 35px;
  color: #757575;
}
footer{
  background-color: #D33359;
  color: #fff;
  justify-content: space-between;
  height: 100px;
}
.liste label{
  color: #D33359;
}
li{
  list-style: none;
  font-size: 25px;
  margin-top: 15px;
}
.liste{
  width: 100%;
  justify-content: space-around;
}
.lista-uno img,.lista-due img{
  vertical-align: middle;
  height: 60px;
}
.checkmark {
  position: absolute;
  top: -5px;
  left: 10px;
  height: 18px;
  width: 18px;
  background-color: #D33359;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.ingredient:checked ~ .checkmark:after {
  display: block;
}
.container-check{
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}
.container-check .checkmark:after {
  left: 0px;
  color: #000;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  content: '\f00c';
  bottom: 0px;
}
.ingredient{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.cupon-input{
  margin-top: 150px;
}
.cupon-input label{
  font-size: 20px;
  padding:0px 25px;
}
.cupon-input input{
  font-size: 20px;
  width: 50%;
  border: none;
  border-radius: 4px;
  height: 30px;
  color: #757575;
  background-color: #FFF5E2;
}
#cupon::placeholder{
  padding-left: 10px;
}
 input:focus,button:focus{
    outline: none;
}
.button-container{
  margin:50px auto;
  height: 55px;
  width: 140px;
}
button{
  height: 100%;
  width: 100%;
  font-weight: bolder;
  font-size: 1.3em;
  border: none;
  border-radius: 15px;
  background-color: #FDBB40;
  cursor: pointer;
}
#payment{
  height: 40px;
  font-size:18px;
  padding: 5px;
  visibility: hidden;
}
#refresh{
  height: 40px;
  font-size:18px;
  padding: 5px;
}
footer div{
  font-weight: bolder;
  font-size: 30px;
}
.cart{
  width: 250px;
  height: 150px;
  border:2px solid #000;
  position: fixed;
  left: 25%;
  top: 75%;
  overflow: auto;
  border-radius: 10px;
  visibility: hidden;
  background-color: #fff;
}
.cart hr{
border-color: #D33359;
margin-bottom: 5px;
}
.cart ul li{
font-size: 15px;
margin-top: 1px;
font-weight: bold;
margin-left: 10px;
}
  /* MEdia query */
  @media (max-width: 1373px){

    header,main,footer{
      width: 70%;
      margin:auto;
    }
    main{
      height: 100vh;
    }
    .lista-uno img,.lista-due img{
      height:35px;
    }
    .cart{
      transform: scale(0.8);
      left:12%;
    }
  }
  @media (max-width: 992px) {
    .liste{
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    .lista-uno,.lista-due{
    width: 100%;
    }
  }
  @media (max-width: 576px) {
    header,main,footer{
      width: 100%;
    }
    header .imgburger{
    display: none;
    }
    .input-nome input {
      width:200px;
      font-size: 20px;
    }
    .cupon-input{
      margin-top:30px;
    }
     .cupon-input input{
      width:150px;
      height: 30px;
    }
    header h1,.input-nome,.lista-uno,.lista-due{
      padding: 0px 15px 0px 25px;
    }
    .cart{
      transform: scale(0.7);
      left: -10%;
      top: 80%;
    }
    #payment{
      height: auto;
      width: 80px;
    }
    footer div{
      padding: 0px 0px 20px 0px;
    }
  }
